<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" routerLink="/">Proggly</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Lessons
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a routerLinkActive="active" routerLink="/dataTypesLesson" class="dropdown-item">Variables and Data Types</a>
          <a routerLinkActive="active" routerLink="/redirect/listsAssignment" class="dropdown-item">Lists</a>
          <a routerLinkActive="active" routerLink="/operatorsAssignment" class="dropdown-item">Operators</a>
          <a routerLinkActive="active" routerLink="/redirect/conditionsAssignment" class="dropdown-item">Conditions</a>
          <a routerLinkActive="active" routerLink="/redirect/forLoopAssignment" class="dropdown-item">Loops</a>
          <a routerLinkActive="active" routerLink="/redirect/functionsAssignment" class="dropdown-item">Functions</a>
          <a routerLinkActive="active" routerLink="/redirect/classesAssignment" class="dropdown-item">Classes and Objects</a>
          <a routerLinkActive="active" routerLink="/redirect/dictionariesAssignment" class="dropdown-item">Dictionaries/Maps</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
