<div class="container container-blockly-pixijs">
  <div class="row mb-3">
    <div class="col-md-6 text-left">
      <button class="btn btn-primary mt-3"
              [routerLink]="['/forLoopAssignment']">
        <fa-icon [icon]="arrowLeft"></fa-icon> Bunny Assignment
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="codingTextArea" class="row">Write your code here:</label>
        <div class="row">
          <div class="line-numbers">
            <div *ngFor="let counter of counterArray; let i = index">{{i + 20}}</div>
          </div>
          <div class="text-area">
          <textarea class="form-control codingTextArea"
                    [(ngModel)]="codeInputField"
                    id="codingTextArea"
                    #textarea
                    (keyup.enter)="onEnter(textarea)"
                    rows="15"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="padding-right: 0;">
      <label for="consoleOutput">Output result:</label>
      <textarea class="form-control"
                id="consoleOutput"
                readonly
                rows="15"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="row-md-6">
      <button (click)="runCode()"
              class="btn btn-success">
        RUN CODE
      </button>
      <button (click)="resetCode()"
              class="btn btn-outline-secondary ml-3">
        RESET CODE
      </button>
    </div>
  </div>
  <div class="row">
    <div class="card border-primary mb-3 mt-3 w-100">
      <div class="card-header">Loops Coding Assignment</div>
      <div class="card-body">
        Loops or iterations are used for repeating sequences of code. They're very useful for many programming problems.
        Python has a WHILE and a FOR loop. We're gonna focus on the FOR loop.<br>
        The loop consist of three pieces:
        <ul>
          <li>begin: n = 1</li>
          <li>end: n <= 6</li>
          <li>change: n += 1</li>
        </ul>
        Begin is the first value in the range. The default value is 0. End is the last value which the current value can't pass.
        Change is the amount by which we increment or decrement the current value.<br>
        <br>
        The print() method writes it's content to the console.
        <b>Now, write a loop which writes values from 24 to 0 in decrements of 3. Good luck!</b>
      </div>
    </div>
  </div>
</div>
