<div class="container">
  <div class="row mb-3">
    <div class="col-md-6 text-left">
      <button class="btn btn-primary mt-3"
              [routerLink]="['/variablesAssignment']">
        <fa-icon [icon]="arrowLeft"></fa-icon> Variables and Data Types Assignment 1
      </button>
    </div>
    <!--    TODO: next lesson button -->
    <!--    <div class="col-md-6 text-right">-->
    <!--      <button class="btn btn-default" [routerLink]="['/dataTypesLesson']">Nesto <span class="glyphicon glyphicon-chevron-right"></span></button>-->
    <!--    </div>-->
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="codingTextArea" class="row">Write your code here:</label>
        <div class="row">
          <div class="line-numbers">
            <div *ngFor="let counter of counterArray; let i = index">{{i + 19}}</div>
          </div>
          <div class="text-area">
          <textarea class="form-control codingTextArea"
                    [(ngModel)]="codeInputField"
                    id="codingTextArea"
                    #textarea
                    (keyup.enter)="onEnter(textarea)"
                    rows="15"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <label for="consoleOutput">Output result:</label>
      <textarea class="form-control"
                id="consoleOutput"
                readonly
                rows="15">{{consoleOutput}}</textarea>
    </div>
  </div>
  <div class="row">
    <div class="row-md-6">
      <button (click)="runCode()"
              class="btn btn-success">
        RUN CODE
      </button>
      <button (click)="resetCode()"
              class="btn btn-outline-secondary ml-3">
        RESET CODE
      </button>
    </div>
  </div>
  <div class="row">
    <div class="card border-primary mb-3 mt-3 w-100">
      <div class="card-header">Data Types and Variables Coding Assignment</div>
      <div class="card-body">
        The target of this exercise is to create a string, an integer, a floating point number and a boolean. <br>
        The string should be named <b>myString</b> and should contain the word <b>"hello"</b>. <br>
        The floating point number should be named <b>myFloat</b> and should contain the number <b>10.0.</b> <br>
        The integer should be named <b>myInt</b> and should contain the number <b>20</b>, <br>
        and the boolean should be named <b>myBoolean</b> and it should contain the value <b>False</b>.
      </div>
    </div>
  </div>
</div>
