#codingTextArea {
  background-color: black;
  color: white;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

textarea #codingTextArea {
  resize: none;
}

.line-numbers {
  display: inline-block;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  padding: 8px 5px 4px;
  background-color: black;
  color: white;
  position: relative;
  top: -11px;
}

.text-area {
  display: inline-block;
  width: 95%;
}
