<div class="container container-blockly-pixijs">
  <div class="row mb-3">
    <!--    TODO: Add button to before lesson -->
    <!--    <div class="col-md-12 text-right">-->
    <!--      <button class="btn btn-default" [routerLink]="['/forLoopLessonCode']">Loops Coding Assignment <span class="glyphicon glyphicon-chevron-right"></span></button>-->
    <!--    </div>-->
<!--    <div class="col-md-12 text-right" >-->
<!--      <button class="btn btn-primary mt-3"-->
<!--              *ngIf="lesson.isSolved"-->
<!--              [routerLink]="['/forLoopLessonCode']">-->
<!--        Loops Coding Assignment <fa-icon [icon]="angleRight"></fa-icon>-->
<!--      </button>-->
<!--    </div>-->
  </div>
  <div class="row">
    <div class="containerBlockly col">
      <ngx-blockly [config]="config"
                   #workspace
                   [generatorConfig]="generatorConfig"
                   [customBlocks]="customBlocks"
                   (pythonCode)="onCode($event)">
      </ngx-blockly>
    </div>
    <div class="col pixiJsBlock">
      <canvas class="pixiJsCanvas"></canvas>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <button class="btn btn-success"
            (click)="sendPeople()"
            [disabled]="disabledButtons">
      Send people to D'CLUB
    </button>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="card border-primary text-center text-box">
      <div class="card-body">
        <h4>
          Create a list of people the same as the bouncer's list.
        </h4>
      </div>
    </div>
  </div>
</div>
