<div class="row-md-6">
<!--    <div class="display 4">-->
<!--      <h1>Data Types and Variables</h1>-->
<!--    </div>-->
  <div class="row">
    <div class="col-md-6 text-left">
      <button class="btn btn-primary mt-3" [routerLink]="['/dataTypesLesson']"><fa-icon [icon]="arrowLeft"></fa-icon> Data Types</button>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-primary mt-3" [routerLink]="['/variablesAssignment']">Connect Assignment <fa-icon [icon]="arrowRight"></fa-icon></button>
    </div>
  </div>
  <div class="card border-primary mb-3 mt-3">
    <div class="card-header"><h3>Variables</h3></div>
    <div class="card-body">
      Variables are like labels, that store data, think of them as containers with labels. They let you store data to use later in a program.<br><br>

      <img src="assets/images/lessons/boxes.png" alt="image" width="600"><br><br>

      To create a variable in Python, you’ll use a variable name, an equal sign (=), and a value, as shown in the figure below.<br><br>

      <img src="assets/images/lessons/variable.png" alt="image" width="400"><br>

      Variables can store numbers, words, and even complete sentences, such as "Hello reader, my name is Vin!".<br>
      Here's another example:<br><br>

      <div class="card text-box border-info mb-3 code-box">
        <div class="card-body text-info">
          weather = "cloudy"<br>
        </div>
      </div>

      Here, the variable container's name is weather (left side), and its value is "cloudy" (right side.)<br>
      <hr>

      You need to know a few syntax rules for naming variables so Python can understand them: <br>
      <ul>
        <li>Variable containers are case sensitive, which means that the name var is different from Var, vAr, and VAR</li>
        <li>Don’t include symbols in your variable names, except for underscores (_), or you’ll get a syntax error</li>
        <li>White space inside the variable name is not allowed also</li>
        <li>Don’t start a variable name with a number, as in 3player. Using numbers elsewhere in a variable name is fine, as in player3</li>
      </ul>

      <div class="card text-box border-info mb-3 code-box">
        <div class="card-body text-info">
          fav_num = 3  # correct<br>
          !fav_num = 3 # wrong<br>
          @fav_num = 3 # wrong<br>
          1fav_num = 3 # wrong<br>
          =fav_num = 3 # wrong<br>
        </div>
      </div>

      In Python code, anything after a # symbol in a statement is a comment and is <b>IGNORED</b> by the Python Interpreter<br>
      You don’t need to add spaces on either side of the equal sign: your program will run fine without them. <br>
      But they do make the code easier to read, so it’s a good idea to add them. <br>
      For example player='Little Vin' is equal to player = 'Little Vin' , adding space just makes them more readable.
    </div>
  </div>
</div>

