<div class="row mt-6">
  <div class="row-md-6">
<!--    <div class="display 4">-->
<!--      <h1>Data Types and Variables</h1>-->
<!--    </div>-->
    <div class="row">
      <div class="col-md-12 text-right">
        <button class="btn btn-default" [routerLink]="['/variablesLesson']">Variables <span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    </div>
    <div class="panel panel-success" style="margin-top: 10px">
      <div class="panel-heading"><h3>Data Types</h3></div>
      <div class="panel-body text-success">
        In Python, data can include numbers, strings (pieces of text), or Booleans (True or False).<br>
        Python supports two types of numbers - integers and floating point numbers. (It also supports complex numbers, which will not be explained in this tutorial).
        <br>
        <hr>

        <h4>NUMBERS</h4>
        <b>Integers (int)</b><br><br>
        Integers are positive or negative whole numbers.
        Values such as 10, 32, −6, 194689, and −5 are integers, but 3.14 and 6.025 are not.<br><br>
        <div class="panel panel-info text-box">
          <div class="panel-body">
            x = 8 <br>
            y = 96855286564375657641<br>
            z = -1234<br>
            temperature = -10<br>
          </div>
        </div>
        In the Python code snippet above, x, y, z, and temperature are int.<br><br>

        <b>Floats (float)</b><br><br>
        Not all numbers are whole numbers.
        Decimal points are used to represent values that can’t be described with whole numbers.<br>
        For example, you might have half (0.5) of an orange.
        Numbers that use decimal points are called floating-point numbers, or floats.<br><br>
        Example:<br><br>
        <div class="panel panel-info text-box">
          <div class="panel-body">
            x = 17.8<br>
            y = 1.9<br>
            z = -23.61<br>
            temperature = -2.45<br>
          </div>
        </div>
        <hr>

        <h4>STRING</h4>
        Strings are defined either with a single quote or a double quotes.<br><br>
        <div class="panel panel-info text-box">
          <div class="panel-body">
            myString = 'hello there'<br>
            myString1 = "hello there"<br>
          </div>
        </div>
        The difference between the two is that using double quotes makes it easy to include apostrophes (whereas these would terminate the string if using single quotes).<br>
        The same applies for the other way around. A different approach is to use backslash(\') to use an apostrophe in String encapsulated by apostrophes.<br>
        <hr>

        <h4>BOOLEAN</h4>
        Boolean is a type that can be considered True or False. Think of it as Yes and No<br><br>
        <div class="panel panel-info text-box">
          <div class="panel-body">
            isGrownUp = True<br>
            isOld = False<br>
          </div>
        </div>
        Those will be useful later e.g. to filter data.<br>
      </div>
    </div>
  </div>
</div>

