<div class="container container-blockly-pixijs">
  <div class="row mb-3">
    <div class="col-md-6 text-left">
      <button class="btn btn-primary mt-3"
              [routerLink]="['/loopsLesson']">
        <fa-icon [icon]="arrowLeft"></fa-icon> Loops Lesson
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <label for="codingTextArea" class="row">Write your code here:</label>
        <div class="row">
          <div class="line-numbers">
            <div *ngFor="let counter of counterArray; let i = index">{{i + 20}}</div>
          </div>
          <div class="text-area">
          <textarea class="form-control codingTextArea"
                    [(ngModel)]="codeInputField"
                    id="codingTextArea"
                    #textarea
                    (keyup.enter)="onEnter(textarea)"
                    rows="15"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="padding-right: 0;">
      <label for="consoleOutput">Output result:</label>
      <textarea class="form-control"
                id="consoleOutput"
                readonly
                rows="15"></textarea>
    </div>
  </div>
  <div class="row">
    <div class="row-md-6">
      <button (click)="runCode()"
              class="btn btn-success">
        RUN CODE
      </button>
      <button (click)="resetCode()"
              class="btn btn-outline-secondary ml-3">
        RESET CODE
      </button>
    </div>
  </div>
  <div class="row">
    <div class="card border-primary mb-3 mt-3 w-100">
      <div class="card-header">Loops Coding Assignment</div>
      <div class="card-body">
        Create a list called <b>myList1</b> and using the range() function fill it with numbers from 1 - 20.<br>
        Next, create a list called <b>myList2</b> and fill it with every even item (remember the list append method and IF condition)
        from myList1 by looping through it with the for loop. <br>
        To find out which item is even, use modular division(<b>%</b>) which calculates the remainder from divinding the item with the given number.<br>
        I.e. 7 % 5 equals 2.
      </div>
    </div>
  </div>
</div>
