<div class="container">
  <div class="row" style="margin-bottom: 16px;">
    <!--    TODO: Add button to before lesson -->
    <!--    <div class="col-md-12 text-right">-->
    <!--      <button class="btn btn-default" [routerLink]="['/forLoopLessonCode']">Loops Coding Assignment <span class="glyphicon glyphicon-chevron-right"></span></button>-->
    <!--    </div>-->
    <div class="col-md-12 text-right" >
      <button class="btn btn-default"
              *ngIf="lesson.isSolved"
              [routerLink]="['/forLoopLessonCode']">
        Loops Coding Assignment <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>
  </div>
  <div class="containerBlockly">
    <ngx-blockly [config]="config"
                 #workspace
                 [generatorConfig]="generatorConfig"
                 [customBlocks]="customBlocks"
                 (pythonCode)="onCode($event)">
    </ngx-blockly>
  </div>
  <div id="pixiJsBlock">
    <canvas id="pixiJsCanvas"
            style="display: block">
    </canvas>
  </div>
  <div>
    <button class="btn btn-success" id="runButton" (click)="runRabbit()" [disabled]="disabledButtons">Run Rabbit, Run!!!</button>
    <div id="infoText" class="panel panel-default text-center text-box">
      <div class="panel-body">
        <h4>
          Get the bunny to the carrot. <br><br>
          Try to use the <b>REPEAT</b> block in your solution.
        </h4>
      </div>
    </div>
  </div>
</div>
