<div class="container container-blockly-pixijs">
  <div class="row mb-3">
    <div class="col-md-6 text-left">
      <button class="btn btn-primary mt-3"
              [routerLink]="['/objectsLesson']">
        <fa-icon [icon]="arrowLeft"></fa-icon> Objects Lesson
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div class="form-group">
        <label for="codingTextArea" class="row">Write your code here:</label>
        <div class="row">
          <div class="line-numbers">
            <div *ngFor="let counter of counterArray; let i = index">{{i + 20}}</div>
          </div>
          <div class="text-area">
          <textarea class="form-control codingTextArea"
                    [(ngModel)]="codeInputField"
                    id="codingTextArea"
                    #textarea
                    (keyup.enter)="onEnter(textarea)"
                    rows="20"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <label for="consoleOutput">Output result:</label>
      <textarea class="form-control"
                id="consoleOutput"
                readonly
                rows="20">{{consoleOutput}}</textarea>
    </div>
  </div>
  <div class="row">
    <div class="row-md-6">
      <button (click)="runCode()"
              class="btn btn-success">
        RUN CODE
      </button>
      <button (click)="resetCode()"
              class="btn btn-outline-secondary ml-3">
        RESET CODE
      </button>
    </div>
  </div>
  <div class="row">
    <div class="card border-primary mb-3 mt-3 w-100">
      <div class="card-header">Classes and Objects Coding Assignment</div>
      <div class="card-body">
        Create a class called <b>Vehicle</b> with attributes <i>kind</i> (String), <i>color</i>(String) and <i>value</i>(float).<br>
        It should have a constructor and a function called <i>getDescription</i> which returns a String that looks like this:<br>
        <i>#kind# has a #color# color and has a price of #value# euro</i><br><br>

        Create two vehicles called v1 and v2.<br>
        v1 should be a red car with a price of 45000 euro.<br>
        v2 should be a green van with a price of 50000 euro.<br>
        Print their getDescription return values at the end.
      </div>
    </div>
  </div>
</div>
