<div class="container">
  <div class="row mb-3">
    <!--    TODO: Add button to before lesson -->
    <!--    <div class="col-md-12 text-right">-->
    <!--      <button class="btn btn-default" [routerLink]="['/forLoopLessonCode']">Loops Coding Assignment <span class="glyphicon glyphicon-chevron-right"></span></button>-->
    <!--    </div>-->
    <!--    <div class="col-md-12 text-right" >-->
    <!--      <button class="btn btn-primary mt-3"-->
    <!--              *ngIf="lesson.isSolved"-->
    <!--              [routerLink]="['/forLoopLessonCode']">-->
    <!--        Loops Coding Assignment <fa-icon [icon]="angleRight"></fa-icon>-->
    <!--      </button>-->
    <!--    </div>-->
  </div>
  <div class="row">
    <div class="containerBlockly col">
      <ngx-blockly [config]="config"
                   #workspace
                   [generatorConfig]="generatorConfig"
                   [customBlocks]="customBlocks"
                   (pythonCode)="onCode($event)">
      </ngx-blockly>
    </div>
    <div id="pixiJsBlock" class="col">
      <canvas id="pixiJsCinemaCanvas"></canvas>
    </div>
  </div>
  <div class="row mt-3">
    <div class="progress col-12">
      <div class="progress-bar bg-info" role="progressbar"
           [style.width]="progress + '%'"
           aria-valuenow="50"
           aria-valuemin="0"
           aria-valuemax="100">
      </div>
    </div>
  </div>
  <div class="row mt-3 justify-content-center">
    <div class="col">
      <table class="table table-sm text-center table-striped">
        <thead>
        <tr>
          <th class="text-center">Tag</th>
          <th class="text-center">Coat color</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let coat of coatMap">
          <td>{{ coat.id }}</td>
          <td>{{ coat.color }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col">
      <div class="row mt-3">
        <button class="btn btn-success"
                (click)="askForCoat()"
                [disabled]="buttonsDisabled">
          ASK FOR COAT
        </button>
      </div>
      <div class="row mt-3">
        <div class="card border-primary text-center text-box">
          <div class="card-body">
            <h4>
              Get Steve's <b>{{ currentCoatTask.task.color }}</b> coat by using the tag text of the coat.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
