/* You can add global styles to this file, and also import other style files */
.alert-fixed {
  position:fixed;
  top: 50px;
  left: 0;
  width: 100%;
  z-index: 9999;
  border-radius: 0;
}

.text-box {
  width: fit-content;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.codingTextArea {
  background-color: black;
  color: white;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
}

textarea .codingTextArea {
  resize: none;
}

.line-numbers {
  display: inline-block;
  font-family: Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New, monospace;
  padding: 8px 5px 4px;
  background-color: black;
  color: white;
  position: relative;
  top: -11px;
}

.text-area {
  display: inline-block;
  width: 95%;
}
