<div class="row-md-6">
  <div class="row">
    <div class="col-md-6 text-left">
      <button class="btn btn-primary mt-3"
              [routerLink]="['/variablesLesson']">
        <fa-icon [icon]="arrowLeft"></fa-icon> Variables
      </button>
    </div>
    <div class="col-md-6 text-right">
      <button class="btn btn-primary mt-3"
              *ngIf="lesson.isSolved"
              [routerLink]="['/variablesLessonCode']">
        Variables and Data Types Coding Assignment <fa-icon [icon]="arrowRight"></fa-icon>
      </button>
    </div>
  </div>
  <div class="card border-primary text-center mt-3 pl-3 mb-3 pt-3">
    <div cdkDropListGroup>
      <div class="row">
        <div class="col-md-2">
          <div class="example-container">
            <h2>Items</h2>

            <div
              cdkDropList
              [cdkDropListData]="items"
              class="example-list"
              (cdkDropListDropped)="drop($event)">
              <div class="example-box" *ngFor="let item of items" cdkDrag>{{item}}</div>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <div class="row justify-content-center mb-4">
            <div class="example-container">
              <h2>Integer</h2>

              <div
                cdkDropList
                [cdkDropListData]="integer"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of integer" cdkDrag>{{item}}</div>
              </div>
            </div>

            <div class="example-container">
              <h2>Float</h2>

              <div
                cdkDropList
                [cdkDropListData]="float"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of float" cdkDrag>{{item}}</div>
              </div>
            </div>

            <div class="example-container">
              <h2>String</h2>

              <div
                cdkDropList
                [cdkDropListData]="string"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of string" cdkDrag>{{item}}</div>
              </div>
            </div>
          </div>

          <div class="row justify-content-center mb-4">
            <div class="example-container">
              <h2>Boolean</h2>

              <div
                cdkDropList
                [cdkDropListData]="boolean"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of boolean" cdkDrag>{{item}}</div>
              </div>
            </div>

            <div class="example-container">
              <h2>Variable Name</h2>

              <div
                cdkDropList
                [cdkDropListData]="variable"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of variable" cdkDrag>{{item}}</div>
              </div>
            </div>

            <div class="example-container">
              <h2>Error</h2>

              <div
                cdkDropList
                [cdkDropListData]="error"
                class="example-list"
                (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of error" cdkDrag>{{item}}</div>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="card border-info text-box mb-3">
              <div class="card-body">
               Drag the items to their groups.
              </div>
            </div>
          </div>
          <div class="row justify-content-center pb-3">
            <button (click)="checkResults()"
                    class="btn btn-success">
              CHECK IF CORRECT
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
